@model ExternalLoginListViewModel

@{
    if ((Model.ExternalLogins?.Count ?? 0) > 0)
    {
        <form id="externalLoginForm" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <input type="hidden" id="provider" name="provider" value="Microsoft" />
        </form>
        <ul class="list-inline text-center mb-4">
            @foreach (var p in Model.ExternalLogins)
            {
                if (p.Name == "Microsoft")
                {
                    <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-white g-bg-skype rounded-circle" href="javascript:$('#externalLoginForm').submit();">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-skype"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-skype"></i>
                        </a>
                    </li>
                }
                else if (p.Name == "Facebook")
                {
                    <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-white g-bg-facebook rounded-circle" href="javascript:void(0);">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
                        </a>
                    </li>
                }
                else if (p.Name == "Twitter")
                {
                    <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-white g-bg-twitter rounded-circle" href="javascript:void(0);">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
                        </a>
                    </li>
                }
                else if (p.Name == "linkedin")
                {
                    <li class="list-inline-item g-mx-2">
                        <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-white g-bg-linkedin rounded-circle" href="javascript:void(0);">
                            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
                            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
                        </a>
                    </li>
                }
            }
        </ul>
    }
}
