@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<!-- Row -->
<div class="row">
    <!-- Main Col -->
    <div class="col-md-12">
        <div class="card-body">
            <div class="text-center">
                <div class="mb-5">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
            </div>

            <hr class="hr" />

            <p class="text-danger">This account has been locked out, please try again later.</p>
        </div>
    </div>
    <!-- End Main Col -->
</div>
<!-- End Row -->