@page
@model LoginModel

<!-- Login -->
<div class="row">
    <!-- Main Col -->
    <div class="col-md-8">
        <div class="card-body">
            <div class="text-center">
                <div class="mb-5">
                    <h3 class="card-title">Sign In</h3>
                </div>

                <!-- Form Social Icons -->
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = @Model.ReturnUrl, ButtonPrefixText = "Log in", ExternalLogins = @Model.ExternalLogins })
                <!-- End Form Social Icons -->

            </div>

            <!-- Form -->
            <form id="account" method="post" class="js-validate needs-validation" novalidate>

                <div asp-validation-summary="ModelOnly" class="invalid-feedback" role="alert"></div>

                <!-- Email -->
                <div class="mb-4">
                <label class="form-label" for="signinSrEmail">Your email</label>
                <input asp-for="Input.Email" type="email" class="form-control form-control-lg" tabindex="0" placeholder="johndoe@gmail.com" aria-label="johndoe@gmail.com" required>
                <span asp-validation-for="Input.Email" class="invalid-feedback">Please enter a valid email address.</span>
                </div>
                <!-- End Email -->

                <!-- Password -->
                <div class="mb-4">
                <label class="form-label" for="signupSrPassword" tabindex="1">Password</label>

                <div class="input-group-merge">
                    <input asp-for="Input.Password" type="password" class="js-toggle-password form-control form-control-lg" placeholder="8+ characters required" aria-label="8+ characters required" required minlength="8" data-hs-toggle-password-options='{
                            "target": "#changePassTarget",
                            "defaultClass": "bi-eye-slash",
                            "showClass": "bi-eye",
                            "classChangeTarget": "#changePassIcon"
                            }'>
                    <a id="changePassTarget" class="input-group-append input-group-text" href="javascript:;">
                    <i id="changePassIcon" class="bi-eye"></i>
                    </a>

                    <span asp-validation-for="Input.Password" class="invalid-feedback">Please enter a valid password.</span>
                </div>
                </div>
                <!-- End Password -->

                <!-- Checks -->
                <div class="row justify-content-between mb-5">
                    <div class="col">
                        <div class="form-check mb-4">
                            <input asp-for="Input.RememberMe" type="checkbox" id="termsCheckbox" class="form-check-input" />
                            <label class="form-check-label" for="termsCheckbox">Keep signed in</label>
                        </div>
                    </div>
                    <div class="col text-end">
                        <a asp-area="Identity" asp-page="/Account/ForgotPassword" class="form-label-link">Forgot password?</a>
                    </div>
                </div>
                <!-- End Checks -->

                <!-- Submit Button -->
                <div class="d-grid gap-4">
                    <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
                </div>
                <!-- End Submit Button -->
            </form>
            <!-- End Form -->
        </div>
    </div>
    <!-- End Main Col -->

    <!-- Right Col -->
    <div class="col-md-4 d-md-flex justify-content-center flex-column bg-soft-primary p-8 p-md-5" style="background-image: url(/Identity/svg/components/wave-pattern.svg);">
        <h5 class="mb-4">Don't have an account yet?</h5>

        <span class="d-block">
            <a asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Model.ReturnUrl" class="link link-pointer">Sign up here</a>
        </span>
    </div>
    <!-- End Right Col -->
</div>
<!-- End Login -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
