@page
@model LoginModel

<!-- Login -->
<div class="container content-space-t-1 content-space-b-2">
    <div class="mx-lg-auto" style="max-width: 55rem;">
        <div class="d-flex justify-content-center align-items-center flex-column min-vh-lg-75">
            <!-- ========== HEADER ========== -->
            <header id="header" class="navbar navbar-height navbar-light mb-3">
                <div class="container">
                    <a asp-area="" asp-page="/Index" class="navbar-brand mx-auto" aria-label="CBD">
                        <img src="/Identity/svg/codebuilddeploy_logo.svg" class="navbar-brand-logo" alt="CBD">
                    </a>
                </div>
            </header>
            <!-- ========== END HEADER ========== -->

            <div class="position-relative">
                <!-- Card -->
                <div class="card card-shadow card-login">
                    <div class="row">
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="text-center">
                                <div class="mb-5">
                                    <h3 class="card-title">Sign In</h3>
                                </div>

                                <!-- Form Social Icons -->
                                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = @Model.ReturnUrl, ButtonPrefixText = "Log in", ExternalLogins = @Model.ExternalLogins })
                                <!-- End Form Social Icons -->

                            </div>

                            <!-- Form -->
                            <form id="account" method="post" class="js-validate needs-validation" novalidate>

                                <div asp-validation-summary="ModelOnly" class="invalid-feedback" role="alert"></div>

                                <!-- Email -->
                                <div class="mb-4">
                                <label class="form-label" for="signinSrEmail">Your email</label>
                                <input asp-for="Input.Email" type="email" class="form-control form-control-lg" tabindex="0" placeholder="johndoe@gmail.com" aria-label="johndoe@gmail.com" required>
                                <span asp-validation-for="Input.Email" class="invalid-feedback">Please enter a valid email address.</span>
                                </div>
                                <!-- End Email -->

                                <!-- Password -->
                                <div class="mb-4">
                                <label class="form-label" for="signupSrPassword" tabindex="1">Password</label>

                                <div class="input-group-merge">
                                    <input asp-for="Input.Password" type="password" class="js-toggle-password form-control form-control-lg" placeholder="8+ characters required" aria-label="8+ characters required" required minlength="8" data-hs-toggle-password-options='{
                                            "target": "#changePassTarget",
                                            "defaultClass": "bi-eye-slash",
                                            "showClass": "bi-eye",
                                            "classChangeTarget": "#changePassIcon"
                                            }'>
                                    <a id="changePassTarget" class="input-group-append input-group-text" href="javascript:;">
                                    <i id="changePassIcon" class="bi-eye"></i>
                                    </a>

                                    <span asp-validation-for="Input.Password" class="invalid-feedback">Please enter a valid password.</span>
                                </div>
                                </div>
                                <!-- End Password -->

                                <div class="row justify-content-between mb-5">
                                    <div class="col">
                                        <div class="form-check mb-4">
                                            <input asp-for="Input.RememberMe" type="checkbox" id="termsCheckbox" class="form-check-input" />
                                            <label class="form-check-label" for="termsCheckbox">Keep signed in</label>
                                        </div>
                                    </div>
                                    <div class="col text-end">
                                        <a class="form-label-link" href="#">Forgot password?</a>
                                    </div>
                                </div>

                                <div class="d-grid gap-4">
                                    <button type="submit" class="btn btn-primary btn-lg">Sign in</button>
                                </div>
                            </form>
                            <!-- End Form -->
                        </div>
                    </div>
                    <!-- End Col -->

                    <div class="col-md-4 d-md-flex justify-content-center flex-column bg-soft-primary p-8 p-md-5" style="background-image: url(/Identity/svg/components/wave-pattern.svg);">
                        <h5 class="mb-4">Don't have an account yet?</h5>

                        <span class="d-block">
                                <a asp-area="Identity" asp-page="/Account/Register" asp-route-returnUrl="@Model.ReturnUrl" class="link link-pointer">Sign up here</a>
                        </span>
                    </div>
                    <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Card -->
            </div>
        </div>
    </div>
</div>
<!-- End Login -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
