@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

<!-- Row -->
<div class="row">
    <!-- Main Col -->
    <div class="col-md-12">
        <div class="card-body">
            <div class="text-center">
                <div class="mb-5">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
            </div>

            <hr class="hr" />

            <p>
                Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
            </p>
        </div>
    </div>
    <!-- End Main Col -->
</div>
<!-- End Row -->