@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<!-- Row -->
<div class="row">
    <!-- Main Col -->
    <div class="col-md-12">
        <div class="card-body">
            <div class="text-center">
                <div class="mb-5">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
            </div>

            <hr class="hr" />

            <h5>Enter your email.</h5>
            <hr />
            <form method="post">
                <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
            </form>
        </div>
    </div>
    <!-- End Main Col -->
</div>
<!-- End Row -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
