<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="${basedir}/Logs/internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">
    <target name="file" xsi:type="File" fileName="${basedir}/Logs/CodeBuildDeploy.${date:format=yyyy-MM-dd}.log" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.ffffZ}|${level:uppercase=true}|${threadid}|${callsite}|${message}|${exception:separator=;:format=Message,Type,ToString,Method,StackTrace:maxInnerExceptionLevel=2:innerFormat=Message,Type,ToString,Method,StackTrace}" />
    <target name="console" xsi:type="ColoredConsole" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.ffffZ}|${level:uppercase=true}|${threadid}|${callsite:className=false:fileName=true:includeSourcePath=false}|${message}|${exception:separator=;:format=Message,Type,ToString,Method,StackTrace:maxInnerExceptionLevel=2:innerFormat=Message,Type,ToString,Method,StackTrace}" />
  </targets>
  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="file,console" />
  </rules>
</nlog>