<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewData["Title"] - Code-Build-Deploy</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/favicon.ico">

    <!-- Web Fonts -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700%7CPlayfair+Display%7CRoboto%7CRaleway%7CSpectral%7CRubik">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="~/vendor/bootstrap/bootstrap.min.css">
    <!-- CSS Global Icons -->
    <link rel="stylesheet" href="~/vendor/icon-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/vendor/icon-line/css/simple-line-icons.css">
    <link rel="stylesheet" href="~/vendor/icon-etlinefont/style.css">
    <link rel="stylesheet" href="~/vendor/icon-line-pro/style.css">
    <link rel="stylesheet" href="~/vendor/icon-hs/style.css">
    <link rel="stylesheet" href="~/vendor/animate.css">
    <link rel="stylesheet" href="~/vendor/fancybox/jquery.fancybox.min.css">
    <link rel="stylesheet" href="~/vendor/typedjs/typed.css">
    <link rel="stylesheet" href="~/vendor/hamburgers/hamburgers.min.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="~/css/unify-core.css">
    <link rel="stylesheet" href="~/css/unify-components.css">
    <link rel="stylesheet" href="~/css/unify-globals.css">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="~/css/custom.css">

    @RenderSection("styles", required: false)
</head>
<body>
    <main>
        <!-- Content Part -->
        @RenderBody()
        <!-- End Content Part -->

    </main>

    <div class="u-outer-spaces-helper"></div>

    <!-- JS Global Compulsory -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/jquery-migrate/jquery-migrate.min.js"></script>
    <script src="~/vendor/popper.js/popper.min.js"></script>
    <script src="~/vendor/bootstrap/bootstrap.min.js"></script>


    <!-- JS Implementing Plugins -->
    <script src="~/vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/vendor/masonry/dist/masonry.pkgd.min.js"></script>
    <script src="~/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/vendor/typedjs/typed.min.js"></script>

    <!-- JS Unify -->
    <script src="~/js/hs.core.js"></script>
    <script src="~/js/components/hs.header.js"></script>
    <script src="~/js/helpers/hs.hamburgers.js"></script>
    <script src="~/js/components/hs.tabs.js"></script>
    <script src="~/js/components/hs.popup.js"></script>
    <script src="~/js/components/text-animation/hs.text-slideshow.js"></script>
    <script src="~/js/components/hs.go-to.js"></script>
    
    @RenderSection("scripts", required: false)

    <!-- JS Plugins Init. -->
    <script>
      $(document).on('ready', function () {
        // initialization of tabs
        $.HSCore.components.HSTabs.init('[role="tablist"]');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of text animation (typing)
        $(".u-text-animation.u-text-animation--typing").typed({
          strings: [
            "an awesome template",
            "perfect template",
            "just like a boss"
          ],
          typeSpeed: 60,
          loop: true,
          backDelay: 1500
        });
      });

      $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of masonry
        $('.masonry-grid').imagesLoaded().then(function () {
          $('.masonry-grid').masonry({
            columnWidth: '.masonry-grid-sizer',
            itemSelector: '.masonry-grid-item',
            percentPosition: true
          });
        });
      });

      $(window).on('resize', function () {
        setTimeout(function () {
          $.HSCore.components.HSTabs.init('[role="tablist"]');
        }, 200);
      });
    </script>

</body>
</html>
