<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>@ViewData["Title"] - Code-Build-Deploy</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

    <!-- CSS Vendor Plugins -->
    <link rel="stylesheet" href="/Identity/vendor/bootstrap-icons/font/bootstrap-icons.css">

    <!-- CSS Unify -->
    <link rel="stylesheet" href="/Identity/css/theme.min.css">

    <!-- CSS Razor Pages -->
    @RenderSection("styles", required: false)
</head>
<body class="d-flex align-items-center min-h-100 bg-light">

    <!-- Main Content -->
    <main id="content" role="main" class="flex-grow-1 overflow-hidden">
        <div class="container content-space-t-1 content-space-b-2">
            <div class="mx-lg-auto" style="max-width: 55rem;">
                <div class="d-flex justify-content-center align-items-center flex-column min-vh-lg-75">
                    <!-- Header -->
                    <header id="header" class="navbar navbar-height navbar-light mb-3">
                        <div class="container">
                            <a href="/Index" class="navbar-brand mx-auto" aria-label="CBD">
                                <img src="/Identity/svg/codebuilddeploy_logo.svg" class="navbar-brand-logo" alt="CBD">
                            </a>
                        </div>
                    </header>
                    <!-- End Header -->
                    <!-- Content Part -->
                    <div class="position-relative">
                        <div class="card card-shadow card-login">
                            @RenderBody()
                        </div>
                    </div>
                    <!-- End Content Part -->
                </div>
            </div>
        </div>
    </main>
    <!-- End Main Content -->
    <!-- JS Global Compulsory  -->
    <script src="/Identity/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- JS Implementing Plugins -->
    <script src="/Identity/vendor/hs-toggle-password/dist/js/hs-toggle-password.js"></script>

    <!-- JS Unify -->
    <script src="/Identity/js/theme.min.js"></script>

    @RenderSection("scripts", required: false)

    <!-- JS Plugins Init. -->
    <script>
        (function () {
            // INITIALIZATION OF BOOTSTRAP VALIDATION
            // =======================================================
            HSBsValidation.init('.js-validate', {
                onSubmit: data => {
                }
            })

            // INITIALIZATION OF TOGGLE PASSWORD
            // =======================================================
            new HSTogglePassword('.js-toggle-password')
        })()
    </script>

</body>
</html>